In [1]:
import pandas as pd

In [2]:
dataset = pd.read_csv('hotel.csv', index_col=False)

In [3]:
del(dataset['Unnamed: 0'])

In [4]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12148 entries, 0 to 12147
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         12148 non-null  object
 1   url          12148 non-null  object
 2   coords       12148 non-null  object
 3   score        9487 non-null   object
 4   description  12148 non-null  object
 5   city         12148 non-null  object
dtypes: object(6)
memory usage: 569.6+ KB

In [5]:
dataset['name'] = dataset['name'].astype(str)
dataset['name'] = dataset['name'].replace('\n','',regex=True)

In [6]:
dataset['description'] =  dataset['description'].astype(str).replace('\n','',regex=True)

In [7]:
dataset['coords'] = dataset['coords'].astype(str)

In [8]:
geolocalisation = dataset['coords'].str.split(',')
dataset.loc[:,'longitude'] = geolocalisation.apply(lambda x: x[0])
dataset.loc[:,'latitude'] = geolocalisation.apply(lambda x: x[1])

In [9]:
del(dataset['coords'])

In [10]:
dataset.head()

,name,url,score,description,city,longitude,latitude
0,Hôtel Vert,https://www.booking.com\n/hotel/fr/vert.fr.htm...,"8,1","Situé à 2 km du Mont-Saint-Michel, sur la côte...",Mont Saint Michel,-1.50961697101593,48.6147004862904
1,Mercure Mont Saint Michel,https://www.booking.com\n/hotel/fr/mont-saint-...,"8,2",Installé dans des espaces verts à seulement 2 ...,Mont Saint Michel,-1.51054501533508,48.6142465295929
2,Hotel De La Digue,https://www.booking.com\n/hotel/fr/de-la-digue...,"7,1",L'hôtel De La Digue est un établissement tradi...,Mont Saint Michel,-1.51091784238815,48.6168815494412
3,Le Saint Aubert,https://www.booking.com\n/hotel/fr/hotel-saint...,"7,3","Niché dans un écrin de verdure, à seulement 2 ...",Mont Saint Michel,-1.51010513305664,48.6129378347065
4,Les Terrasses Poulard,https://www.booking.com\n/hotel/fr/les-terrass...,"7,3",Occupant 2 bâtiments différents au cœur du Mon...,Mont Saint Michel,-1.51037871837616,48.6353494256412

In [11]:
dataset['score'] = dataset['score'].str.replace(',','.').astype('float')

In [12]:
dataset['score'].isnull().sum()

2661

In [13]:
dataset['hotels_id'] = range(1, len(dataset) + 1)

In [14]:
dataset.head()

,name,url,score,description,city,longitude,latitude,hotels_id
0,Hôtel Vert,https://www.booking.com\n/hotel/fr/vert.fr.htm...,8.1,"Situé à 2 km du Mont-Saint-Michel, sur la côte...",Mont Saint Michel,-1.50961697101593,48.6147004862904,1
1,Mercure Mont Saint Michel,https://www.booking.com\n/hotel/fr/mont-saint-...,8.2,Installé dans des espaces verts à seulement 2 ...,Mont Saint Michel,-1.51054501533508,48.6142465295929,2
2,Hotel De La Digue,https://www.booking.com\n/hotel/fr/de-la-digue...,7.1,L'hôtel De La Digue est un établissement tradi...,Mont Saint Michel,-1.51091784238815,48.6168815494412,3
3,Le Saint Aubert,https://www.booking.com\n/hotel/fr/hotel-saint...,7.3,"Niché dans un écrin de verdure, à seulement 2 ...",Mont Saint Michel,-1.51010513305664,48.6129378347065,4
4,Les Terrasses Poulard,https://www.booking.com\n/hotel/fr/les-terrass...,7.3,Occupant 2 bâtiments différents au cœur du Mon...,Mont Saint Michel,-1.51037871837616,48.6353494256412,5

In [15]:
del(dataset['url'])
del(dataset['description'])

In [16]:
dataset['longitude'] = dataset['longitude'].astype(float)
dataset['latitude'] = dataset['latitude'].astype(float)

In [17]:
mask = dataset[dataset['score']>9.4]

In [18]:
len(mask)

919

<B>CREATION RDS

In [19]:
!pip install psycopg2-binary

Requirement already satisfied: psycopg2-binary in /opt/conda/lib/python3.8/site-packages (2.9.1)

In [20]:
dbuser = 'postgres'
dbpass = 'password'
dbhost = 'database-kayak-project04.cdsn251zd35m.us-east-1.rds.amazonaws.com'
dbname = 'postgres'

In [21]:
from sqlalchemy import create_engine
engine = create_engine(f'postgresql+psycopg2://{dbuser}:{dbpass}@{dbhost}:5432/{dbname}', echo=True)
engine

Engine(postgresql+psycopg2://postgres:***@database-kayak-project04.cdsn251zd35m.us-east-1.rds.amazonaws.com:5432/postgres)

In [ ]:
dataset.to_sql('hotels_france', engine)

<b>Essayons le plotly en récupérant les données depuis RDS - Datawarehouse

In [25]:
import pandas as pd
from sqlalchemy.sql import text

In [34]:
# Create a statement 
stmt = text("SELECT name, city, latitude, longitude, score "
            "FROM hotels_france "
            "WHERE city = 'Collioure' AND score > 9.4 "
            "ORDER BY score DESC;"
           )
           

df = pd.read_sql(
        stmt,
        engine
    )

df

2021-10-20 19:12:16,633 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2021-10-20 19:12:16,634 INFO sqlalchemy.engine.base.Engine {'name': "SELECT name, city, latitude, longitude, score FROM hotels_france WHERE city = 'Collioure' AND score > 9.4 ORDER BY score DESC;"}
2021-10-20 19:12:16,880 INFO sqlalchemy.engine.base.OptionEngine SELECT name, city, latitude, longitude, score FROM hotels_france WHERE city = 'Collioure' AND score > 9.4 ORDER BY score DESC;
2021-10-20 19:12:16,881 INFO sqlalchemy.engine.base.OptionEngine {}

,name,city,latitude,longitude,score
0,Boramar,Collioure,42.527543,3.085355,9.7
1,Michelet,Collioure,42.526520,3.081826,9.7
2,Studio Canta la Mar - Vue exceptionnelle,Collioure,42.524431,3.090316,9.5
3,Le Mouret,Collioure,42.528223,3.084889,9.5
4,Le 15-Appartments Collioure,Collioure,42.528518,3.078625,9.5

In [36]:
!pip install plotly==4.8.1

Requirement already satisfied: plotly==4.8.1 in /opt/conda/lib/python3.8/site-packages (4.8.1)
Requirement already satisfied: retrying>=1.3.3 in /opt/conda/lib/python3.8/site-packages (from plotly==4.8.1) (1.3.3)
Requirement already satisfied: six in /opt/conda/lib/python3.8/site-packages (from plotly==4.8.1) (1.15.0)

In [37]:
import plotly.express as px
import plotly.graph_objects as go
import plotly.io as pio
pio.renderers.default = "iframe_connected"
from plotly.subplots import make_subplots
import glob

In [38]:
fig = px.scatter_mapbox(df, lat="latitude", lon="longitude", hover_name = 'name', hover_data = ['score'],color='score',size = 'score',
                        mapbox_style="open-street-map", zoom = 13, color_continuous_scale = 'Plasma', title = 'Meilleurs hôtels de Collioure')
fig.show()

In [67]:
# Create a statement 
stmt = text("SELECT hotels_france.name, hotels_france.city, hotels_france.latitude, hotels_france.longitude, meteo_villes_france.forecast_temp_moyenne_degres, hotels_france.score "
            "FROM hotels_france "
            "JOIN meteo_villes_france ON hotels_france.city = meteo_villes_france.villes "
            "WHERE meteo_villes_france.forecast_temp_moyenne_degres > 17 AND score > 9.4 "
            "ORDER BY score DESC, forecast_temp_moyenne_degres DESC  "
            "LIMIT 10;"
           )
           

df2 = pd.read_sql(
        stmt,
        engine
    )

df2

2021-10-20 19:52:09,880 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2021-10-20 19:52:09,881 INFO sqlalchemy.engine.base.Engine {'name': 'SELECT hotels_france.name, hotels_france.city, hotels_france.latitude, hotels_france.longitude, meteo_villes_france.forecast_temp_moyenne_degres, hot ... (104 characters truncated) ... .villes WHERE meteo_villes_france.forecast_temp_moyenne_degres > 17 AND score > 9.4 ORDER BY score DESC, forecast_temp_moyenne_degres DESC  LIMIT 10;'}
2021-10-20 19:52:10,127 INFO sqlalchemy.engine.base.OptionEngine SELECT hotels_france.name, hotels_france.city, hotels_france.latitude, hotels_france.longitude, meteo_villes_france.forecast_temp_moyenne_degres, hotels_france.score FROM hotels_france JOIN meteo_villes_france ON hotels_france.city = meteo_villes_france.villes WHERE meteo_villes_france.forecast_temp_moyenne_degres > 17 AND score > 9.4 ORDER BY score DESC, forecast_temp_moyenne_degres DESC  LIMIT 10;
2021-10-20 19:52:10,128 INFO sqlalchemy.engine.base.OptionEngine {}

,name,city,latitude,longitude,forecast_temp_moyenne_degres,score
0,Villa Uhaïna,Biarritz,43.464843,-1.559920,19.0,10.0
1,Apartment La Maison de Protis - MSE100,Marseille,43.296818,5.363781,18.0,10.0
2,Libertitu,Bayonne,43.494486,-1.483622,19.0,9.9
3,"BLUE COCOON : hypercentre, plages, WIFI",Biarritz,43.482533,-1.562001,19.0,9.9
4,Au Cœur des Remparts,Aigues Mortes,43.565401,4.192973,18.0,9.9
5,Maison°9,Cassis,43.218465,5.550623,18.0,9.9
6,Vos Vacances Zen,Aigues Mortes,43.565139,4.203696,18.0,9.9
7,Villa Turquoise,Aigues Mortes,43.567403,4.203591,18.0,9.9
8,"L'Etape, 2ch, 250m Gde Plage, tt à pieds",Biarritz,43.483590,-1.556152,19.0,9.8
9,"CHAMBRE ROMANTIQUE, JACUZZI et LIT D'EXCEPTION",Aix en Provence,43.591905,5.390908,18.0,9.8

In [ ]:
stmt = text("SELECT students.id, addresses.id, students.name, addresses.email_address FROM students "
            "JOIN addresses ON students.id=addresses.student_id "
            "WHERE students.id = 1")\
            .columns(
                students.c.id,
                addresses.c.id,
                addresses.c.student_id,
                students.c.name,
                addresses.c.email_address
            )