In [1]:
from bs4 import BeautifulSoup
import re
import requests
import pandas as pd
import numpy as np
import json
from tqdm import tqdm
import time

In [2]:
dataset = pd.read_csv('info_meteo_villes.csv')

In [3]:
dataset

,villes_id,Villes,latitude,longitude,meteo_today,temp_today°C,forecast_temp_moyenne°C,proba_precipitation_moyenne%,Meteo_probable
0,0,Mont Saint Michel,48.635523,-1.510257,Clear,13.46,16.0,64.0,Rain
1,1,St Malo,48.649518,-2.026041,Mist,13.24,15.0,72.0,Rain
2,2,Bayeux,49.276462,-0.702474,Clear,10.18,15.0,63.0,Rain
3,3,Le Havre,49.493897,0.107973,Clear,12.25,15.0,63.0,Rain
4,4,Rouen,49.440459,1.093966,Clear,10.01,15.0,66.0,Rain
5,5,Paris,48.856697,2.351462,Clear,10.51,16.0,47.0,Rain
6,6,Amiens,49.894171,2.295695,Clouds,8.37,15.0,59.0,Rain
7,7,Lille,50.636565,3.063528,Clear,9.65,14.0,60.0,Rain
8,8,Strasbourg,48.584614,7.750713,Clouds,6.55,13.0,49.0,Rain
9,9,Chateau du Haut Koenigsbourg,48.249523,7.345492,Clouds,4.66,11.0,47.0,Rain
10,10,Colmar,48.077752,7.357964,Clouds,7.85,14.0,46.0,Rain
11,11,Eguisheim,48.044797,7.307962,Clouds,7.84,14.0,46.0,Rain
12,12,Besancon,47.238022,6.024362,Clouds,7.66,14.0,45.0,Clouds
13,13,Dijon,47.321581,5.041470,Clouds,7.88,14.0,38.0,Clouds
14,14,Annecy,45.899235,6.128885,Clear,8.03,14.0,41.0,Rain
15,15,Grenoble,45.187560,5.735782,Clouds,11.35,17.0,35.0,Rain
16,16,Lyon,45.757814,4.832011,Clouds,9.75,15.0,34.0,Rain
17,17,Bormes les Mimosas,43.150697,6.341929,Clear,12.33,19.0,25.0,Clouds
18,18,Cassis,43.214036,5.539632,Clear,15.40,18.0,21.0,Clouds
19,19,Marseille,43.296174,5.369953,Clear,15.09,18.0,21.0,Clouds
20,20,Aix en Provence,43.529842,5.447474,Clear,12.93,18.0,26.0,Clouds
21,21,Avignon,43.949249,4.805901,Clear,11.17,17.0,25.0,Clear
22,22,Uzès,44.012128,4.419672,Clouds,10.96,17.0,25.0,Clouds
23,23,Nímes,43.837425,4.360069,Clear,11.96,18.0,22.0,Clouds
24,24,Aigues Mortes,43.565822,4.191284,Clouds,12.80,18.0,21.0,Clouds
25,25,Saintes Maries de la mer,43.452277,4.428717,Clouds,12.54,18.0,19.0,Clear
26,26,Collioure,42.525050,3.083155,Clouds,17.44,19.0,15.0,Clear
27,27,Carcassonne,43.213036,2.349107,Clear,12.83,17.0,26.0,Clouds
28,28,Toulouse,43.604462,1.444247,Clear,13.55,17.0,34.0,Clouds
29,29,Montauban,44.017584,1.354999,Clouds,13.70,17.0,39.0,Clouds
30,30,Biarritz,43.483252,-1.559278,Clouds,18.18,19.0,38.0,Clouds
31,31,Bayonne,43.493338,-1.475099,Clouds,17.88,19.0,37.0,Clouds
32,32,La Rochelle,46.159113,-1.152043,Clear,14.50,16.0,25.0,Clouds

In [4]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33 entries, 0 to 32
Data columns (total 9 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   villes_id                     33 non-null     int64
 1   Villes                        33 non-null     object
 2   latitude                      33 non-null     float64
 3   longitude                     33 non-null     float64
 4   meteo_today                   33 non-null     object
 5   temp_today°C                  33 non-null     float64
 6   forecast_temp_moyenne°C       33 non-null     float64
 7   proba_precipitation_moyenne%  33 non-null     float64
 8   Meteo_probable                33 non-null     object
dtypes: float64(5), int64(1), object(3)
memory usage: 2.4+ KB

In [5]:
dataset['Villes'] = dataset['Villes'].apply(str)
dataset['meteo_today'] = dataset['meteo_today'].apply(str)
dataset['Meteo_probable'] = dataset['Meteo_probable'].apply(str)

In [6]:
dataset['forecast_temp_moyenne°C'].describe()

count    33.000000
mean     16.121212
std       2.011802
min      11.000000
25%      15.000000
50%      16.000000
75%      18.000000
max      19.000000
Name: forecast_temp_moyenne°C, dtype: float64

In [7]:
dataset['proba_precipitation_moyenne%'].describe()

count    33.000000
mean     39.212121
std      16.038543
min      15.000000
25%      25.000000
50%      38.000000
75%      47.000000
max      72.000000
Name: proba_precipitation_moyenne%, dtype: float64

In [8]:
dataset = dataset.sort_values(by=['proba_precipitation_moyenne%', 'forecast_temp_moyenne°C'], ascending = [True, False]).reset_index(drop=True)

In [9]:
#1er critère : probabilité de précipitation moyenne sur les 8 jours le plus bas possible, on ne veut pas de pluie
#2ème critère important : il faut une bonne température moyenne sur les 8 jours, on ne veut pas avoir froid.

dataset

,villes_id,Villes,latitude,longitude,meteo_today,temp_today°C,forecast_temp_moyenne°C,proba_precipitation_moyenne%,Meteo_probable
0,26,Collioure,42.525050,3.083155,Clouds,17.44,19.0,15.0,Clear
1,25,Saintes Maries de la mer,43.452277,4.428717,Clouds,12.54,18.0,19.0,Clear
2,18,Cassis,43.214036,5.539632,Clear,15.40,18.0,21.0,Clouds
3,19,Marseille,43.296174,5.369953,Clear,15.09,18.0,21.0,Clouds
4,24,Aigues Mortes,43.565822,4.191284,Clouds,12.80,18.0,21.0,Clouds
5,23,Nímes,43.837425,4.360069,Clear,11.96,18.0,22.0,Clouds
6,17,Bormes les Mimosas,43.150697,6.341929,Clear,12.33,19.0,25.0,Clouds
7,21,Avignon,43.949249,4.805901,Clear,11.17,17.0,25.0,Clear
8,22,Uzès,44.012128,4.419672,Clouds,10.96,17.0,25.0,Clouds
9,32,La Rochelle,46.159113,-1.152043,Clear,14.50,16.0,25.0,Clouds
10,20,Aix en Provence,43.529842,5.447474,Clear,12.93,18.0,26.0,Clouds
11,27,Carcassonne,43.213036,2.349107,Clear,12.83,17.0,26.0,Clouds
12,28,Toulouse,43.604462,1.444247,Clear,13.55,17.0,34.0,Clouds
13,16,Lyon,45.757814,4.832011,Clouds,9.75,15.0,34.0,Rain
14,15,Grenoble,45.187560,5.735782,Clouds,11.35,17.0,35.0,Rain
15,31,Bayonne,43.493338,-1.475099,Clouds,17.88,19.0,37.0,Clouds
16,30,Biarritz,43.483252,-1.559278,Clouds,18.18,19.0,38.0,Clouds
17,13,Dijon,47.321581,5.041470,Clouds,7.88,14.0,38.0,Clouds
18,29,Montauban,44.017584,1.354999,Clouds,13.70,17.0,39.0,Clouds
19,14,Annecy,45.899235,6.128885,Clear,8.03,14.0,41.0,Rain
20,12,Besancon,47.238022,6.024362,Clouds,7.66,14.0,45.0,Clouds
21,10,Colmar,48.077752,7.357964,Clouds,7.85,14.0,46.0,Rain
22,11,Eguisheim,48.044797,7.307962,Clouds,7.84,14.0,46.0,Rain
23,5,Paris,48.856697,2.351462,Clear,10.51,16.0,47.0,Rain
24,9,Chateau du Haut Koenigsbourg,48.249523,7.345492,Clouds,4.66,11.0,47.0,Rain
25,8,Strasbourg,48.584614,7.750713,Clouds,6.55,13.0,49.0,Rain
26,6,Amiens,49.894171,2.295695,Clouds,8.37,15.0,59.0,Rain
27,7,Lille,50.636565,3.063528,Clear,9.65,14.0,60.0,Rain
28,2,Bayeux,49.276462,-0.702474,Clear,10.18,15.0,63.0,Rain
29,3,Le Havre,49.493897,0.107973,Clear,12.25,15.0,63.0,Rain
30,0,Mont Saint Michel,48.635523,-1.510257,Clear,13.46,16.0,64.0,Rain
31,4,Rouen,49.440459,1.093966,Clear,10.01,15.0,66.0,Rain
32,1,St Malo,48.649518,-2.026041,Mist,13.24,15.0,72.0,Rain

In [10]:
print('les 5 meilleures destinations où partir sont :')
dataset.head()

les 5 meilleures destinations où partir sont :

,villes_id,Villes,latitude,longitude,meteo_today,temp_today°C,forecast_temp_moyenne°C,proba_precipitation_moyenne%,Meteo_probable
0,26,Collioure,42.525050,3.083155,Clouds,17.44,19.0,15.0,Clear
1,25,Saintes Maries de la mer,43.452277,4.428717,Clouds,12.54,18.0,19.0,Clear
2,18,Cassis,43.214036,5.539632,Clear,15.40,18.0,21.0,Clouds
3,19,Marseille,43.296174,5.369953,Clear,15.09,18.0,21.0,Clouds
4,24,Aigues Mortes,43.565822,4.191284,Clouds,12.80,18.0,21.0,Clouds

In [11]:
dataset.rename(columns={'proba_precipitation_moyenne%': 'proba_precipitation_moyenne_perc', 
                        }, inplace=True)

In [12]:
dataset.rename(columns={'Villes': 'villes', 
                        }, inplace=True)

In [13]:
dataset.rename(columns={'forecast_temp_moyenne°C': 'forecast_temp_moyenne_degres', 
                        }, inplace=True)

In [14]:
dataset.head()

,villes_id,villes,latitude,longitude,meteo_today,temp_today°C,forecast_temp_moyenne_degres,proba_precipitation_moyenne_perc,Meteo_probable
0,26,Collioure,42.525050,3.083155,Clouds,17.44,19.0,15.0,Clear
1,25,Saintes Maries de la mer,43.452277,4.428717,Clouds,12.54,18.0,19.0,Clear
2,18,Cassis,43.214036,5.539632,Clear,15.40,18.0,21.0,Clouds
3,19,Marseille,43.296174,5.369953,Clear,15.09,18.0,21.0,Clouds
4,24,Aigues Mortes,43.565822,4.191284,Clouds,12.80,18.0,21.0,Clouds

<B>CREATION DU RDS - DATAWAREHOUSE

In [15]:
import pandas as pd
!pip install psycopg2-binary

Requirement already satisfied: psycopg2-binary in /opt/conda/lib/python3.8/site-packages (2.9.1)

In [16]:
dbuser = 'postgres'
dbpass = 'password'
dbhost = 'database-kayak-project04.cdsn251zd35m.us-east-1.rds.amazonaws.com'
dbname = 'postgres'

In [17]:
from sqlalchemy import create_engine
engine = create_engine(f'postgresql+psycopg2://{dbuser}:{dbpass}@{dbhost}:5432/{dbname}', echo=True)
engine

Engine(postgresql+psycopg2://postgres:***@database-kayak-project04.cdsn251zd35m.us-east-1.rds.amazonaws.com:5432/postgres)

In [18]:
dataset.to_sql('meteo_villes_france', engine)

2021-10-20 18:07:24,244 INFO sqlalchemy.engine.base.Engine select version()
2021-10-20 18:07:24,245 INFO sqlalchemy.engine.base.Engine {}
2021-10-20 18:07:24,410 INFO sqlalchemy.engine.base.Engine select current_schema()
2021-10-20 18:07:24,411 INFO sqlalchemy.engine.base.Engine {}
2021-10-20 18:07:24,576 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2021-10-20 18:07:24,577 INFO sqlalchemy.engine.base.Engine {}
2021-10-20 18:07:24,660 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2021-10-20 18:07:24,661 INFO sqlalchemy.engine.base.Engine {}
2021-10-20 18:07:24,744 INFO sqlalchemy.engine.base.Engine show standard_conforming_strings
2021-10-20 18:07:24,745 INFO sqlalchemy.engine.base.Engine {}
2021-10-20 18:07:24,910 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2021-10-20 18:07:24,911 INFO sqlalchemy.engine.base.Engine {'name': 'meteo_villes_france'}

ValueError: Table 'meteo_villes_france' already exists.

In [19]:
import pandas as pd
from sqlalchemy.sql import text
# Create a statement 
stmt = text("SELECT villes, latitude, longitude, forecast_temp_moyenne_degres, proba_precipitation_moyenne_perc  "
            "FROM meteo_villes_france; "
           )
        
           

df = pd.read_sql(
        stmt,
        engine
    )

df

2021-10-20 18:08:22,436 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2021-10-20 18:08:22,438 INFO sqlalchemy.engine.base.Engine {'name': 'SELECT villes, latitude, longitude, forecast_temp_moyenne_degres, proba_precipitation_moyenne_perc  FROM meteo_villes_france; '}
2021-10-20 18:08:22,685 INFO sqlalchemy.engine.base.OptionEngine SELECT villes, latitude, longitude, forecast_temp_moyenne_degres, proba_precipitation_moyenne_perc  FROM meteo_villes_france;
2021-10-20 18:08:22,686 INFO sqlalchemy.engine.base.OptionEngine {}

,villes,latitude,longitude,forecast_temp_moyenne_degres,proba_precipitation_moyenne_perc
0,Collioure,42.525050,3.083155,19.0,15.0
1,Saintes Maries de la mer,43.452277,4.428717,18.0,19.0
2,Cassis,43.214036,5.539632,18.0,21.0
3,Marseille,43.296174,5.369953,18.0,21.0
4,Aigues Mortes,43.565822,4.191284,18.0,21.0
5,Nímes,43.837425,4.360069,18.0,22.0
6,Bormes les Mimosas,43.150697,6.341929,19.0,25.0
7,Avignon,43.949249,4.805901,17.0,25.0
8,Uzès,44.012128,4.419672,17.0,25.0
9,La Rochelle,46.159113,-1.152043,16.0,25.0
10,Aix en Provence,43.529842,5.447474,18.0,26.0
11,Carcassonne,43.213036,2.349107,17.0,26.0
12,Toulouse,43.604462,1.444247,17.0,34.0
13,Lyon,45.757814,4.832011,15.0,34.0
14,Grenoble,45.187560,5.735782,17.0,35.0
15,Bayonne,43.493338,-1.475099,19.0,37.0
16,Biarritz,43.483252,-1.559278,19.0,38.0
17,Dijon,47.321581,5.041470,14.0,38.0
18,Montauban,44.017584,1.354999,17.0,39.0
19,Annecy,45.899235,6.128885,14.0,41.0
20,Besancon,47.238022,6.024362,14.0,45.0
21,Colmar,48.077752,7.357964,14.0,46.0
22,Eguisheim,48.044797,7.307962,14.0,46.0
23,Paris,48.856697,2.351462,16.0,47.0
24,Chateau du Haut Koenigsbourg,48.249523,7.345492,11.0,47.0
25,Strasbourg,48.584614,7.750713,13.0,49.0
26,Amiens,49.894171,2.295695,15.0,59.0
27,Lille,50.636565,3.063528,14.0,60.0
28,Bayeux,49.276462,-0.702474,15.0,63.0
29,Le Havre,49.493897,0.107973,15.0,63.0
30,Mont Saint Michel,48.635523,-1.510257,16.0,64.0
31,Rouen,49.440459,1.093966,15.0,66.0
32,St Malo,48.649518,-2.026041,15.0,72.0

In [20]:
df = df.sort_values(by=['proba_precipitation_moyenne_perc', 'forecast_temp_moyenne_degres'], ascending = [True, False]).reset_index(drop=True)

In [21]:
df.head()

,villes,latitude,longitude,forecast_temp_moyenne_degres,proba_precipitation_moyenne_perc
0,Collioure,42.525050,3.083155,19.0,15.0
1,Saintes Maries de la mer,43.452277,4.428717,18.0,19.0
2,Cassis,43.214036,5.539632,18.0,21.0
3,Marseille,43.296174,5.369953,18.0,21.0
4,Aigues Mortes,43.565822,4.191284,18.0,21.0

In [24]:
!pip install plotly==4.8.1

Requirement already satisfied: plotly==4.8.1 in /opt/conda/lib/python3.8/site-packages (4.8.1)
Requirement already satisfied: six in /opt/conda/lib/python3.8/site-packages (from plotly==4.8.1) (1.15.0)
Requirement already satisfied: retrying>=1.3.3 in /opt/conda/lib/python3.8/site-packages (from plotly==4.8.1) (1.3.3)

In [25]:
import plotly.express as px
import plotly.offline as pyo
import plotly.io as pio
pio.renderers.default = "iframe_connected"
from plotly.subplots import make_subplots
import glob

In [26]:
fig = px.scatter_mapbox(df, lat="latitude", lon="longitude", hover_name = 'villes', hover_data = ['forecast_temp_moyenne_degres', 'proba_precipitation_moyenne_perc'],color='forecast_temp_moyenne_degres',size = 'proba_precipitation_moyenne_perc',
                        mapbox_style="open-street-map", zoom = 4, color_continuous_scale = 'Bluered', title = 'Prevision temperature moyenne et risque de precipitation sur plusieurs villes de France')
fig.show()

la taille represente le risque de précipitation

In [28]:
fig2 = px.scatter_mapbox(df.head(), lat="latitude", lon="longitude", hover_name = 'villes', hover_data = ['forecast_temp_moyenne_degres', 'proba_precipitation_moyenne_perc'],color='forecast_temp_moyenne_degres',size = 'proba_precipitation_moyenne_perc',
                        mapbox_style="open-street-map", zoom = 5, color_continuous_scale = 'Bluered', title = 'Prevision temperature moyenne et risque de precipitation sur 5 villes de France')
fig2.show()