In [1]:
from bs4 import BeautifulSoup
import re
import requests
import pandas as pd
import numpy as np
import json
from tqdm import tqdm
import time

In [2]:
url = "https://one-week-in.com/35-cities-to-visit-in-france/"
response = requests.get(url).text

soup = BeautifulSoup(response, "html.parser")

In [3]:
soup.select('ol li a')[0].get_text()

'Mont Saint Michel'

In [4]:
villes = []
for index in range(0,35):
    city = soup.select('ol li a')[index].get_text()
    villes.append(city)
villes

['Mont Saint Michel',
 'St Malo',
 'Bayeux',
 'Le Havre',
 'Rouen',
 'Paris',
 'Amiens',
 'Lille',
 'Strasbourg',
 'Chateau du Haut Koenigsbourg',
 'Colmar',
 'Eguisheim',
 'Besancon',
 'Dijon',
 'Annecy',
 'Grenoble',
 'Lyon',
 'Verdon Gorge',
 'Bormes les Mimosas',
 'Cassis',
 'Marseille',
 'Aix en Provence',
 'Avignon',
 'Uzès',
 'Nímes',
 'Aigues Mortes',
 'Saintes Maries de la mer',
 'Collioure',
 'Carcassonne',
 'Ariege',
 'Toulouse',
 'Montauban',
 'Biarritz',
 'Bayonne',
 'La Rochelle']

In [5]:
#2 villes bug pour la suite de l'analyse =>Gorges du Verdon et Arriège nous allons donc les supprimer pour le moment

In [6]:
del(villes[17])

In [7]:
del(villes[-6])
villes

['Mont Saint Michel',
 'St Malo',
 'Bayeux',
 'Le Havre',
 'Rouen',
 'Paris',
 'Amiens',
 'Lille',
 'Strasbourg',
 'Chateau du Haut Koenigsbourg',
 'Colmar',
 'Eguisheim',
 'Besancon',
 'Dijon',
 'Annecy',
 'Grenoble',
 'Lyon',
 'Bormes les Mimosas',
 'Cassis',
 'Marseille',
 'Aix en Provence',
 'Avignon',
 'Uzès',
 'Nímes',
 'Aigues Mortes',
 'Saintes Maries de la mer',
 'Collioure',
 'Carcassonne',
 'Toulouse',
 'Montauban',
 'Biarritz',
 'Bayonne',
 'La Rochelle']

In [8]:
len(villes)

33

In [9]:
dataset = pd.DataFrame(columns=['villes_id' , 'Villes', 'latitude', 'longitude'])
dataset

Empty DataFrame
Columns: [villes_id, Villes, latitude, longitude]
Index: []

In [10]:
dataset

Empty DataFrame
Columns: [villes_id, Villes, latitude, longitude]
Index: []

In [11]:
i=0
for i in tqdm(range(len(villes))):
    print("request: {}".format(villes[i]))
    
    #get latitude and longitude of cities    
    
    par = {
        "city": villes[i],
        "country": "France",
        "format": "json"
          }
    
    r = requests.get('https://nominatim.openstreetmap.org/search', params=par)
    res = r.json()
    
#fix lat and lon
    dataset.loc[i,'villes_id'] = i
    dataset.loc[i,'Villes'] = villes[i]
    dataset.loc[i,'latitude'] = res[0]['lat']
    dataset.loc[i,'longitude'] = res[0]['lon']

  3%|▎         | 1/33 [00:00<00:04,  6.94it/s]

request: Mont Saint Michel
request: St Malo

  6%|▌         | 2/33 [00:00<00:07,  3.95it/s]

request: Bayeux

  9%|▉         | 3/33 [00:01<00:09,  3.09it/s]

request: Le Havre

 12%|█▏        | 4/33 [00:01<00:10,  2.65it/s]

request: Rouen

 15%|█▌        | 5/33 [00:02<00:11,  2.40it/s]

request: Paris

 18%|█▊        | 6/33 [00:02<00:12,  2.24it/s]

request: Amiens

 21%|██        | 7/33 [00:03<00:11,  2.20it/s]

request: Lille

 24%|██▍       | 8/33 [00:03<00:11,  2.12it/s]

request: Strasbourg

 27%|██▋       | 9/33 [00:04<00:11,  2.10it/s]

request: Chateau du Haut Koenigsbourg

 30%|███       | 10/33 [00:04<00:11,  2.05it/s]

request: Colmar

 33%|███▎      | 11/33 [00:05<00:10,  2.03it/s]

request: Eguisheim

 36%|███▋      | 12/33 [00:05<00:10,  2.05it/s]

request: Besancon

 39%|███▉      | 13/33 [00:06<00:09,  2.02it/s]

request: Dijon

 42%|████▏     | 14/33 [00:06<00:09,  2.01it/s]

request: Annecy

 45%|████▌     | 15/33 [00:07<00:08,  2.03it/s]

request: Grenoble

 48%|████▊     | 16/33 [00:07<00:08,  2.02it/s]

request: Lyon

 52%|█████▏    | 17/33 [00:08<00:07,  2.01it/s]

request: Bormes les Mimosas

 55%|█████▍    | 18/33 [00:08<00:07,  2.00it/s]

request: Cassis

 58%|█████▊    | 19/33 [00:09<00:07,  1.99it/s]

request: Marseille

 61%|██████    | 20/33 [00:09<00:06,  1.99it/s]

request: Aix en Provence

 64%|██████▎   | 21/33 [00:10<00:05,  2.01it/s]

request: Avignon

 67%|██████▋   | 22/33 [00:10<00:05,  1.99it/s]

request: Uzès

 70%|██████▉   | 23/33 [00:11<00:04,  2.02it/s]

request: Nímes

 73%|███████▎  | 24/33 [00:11<00:04,  2.01it/s]

request: Aigues Mortes

 76%|███████▌  | 25/33 [00:12<00:03,  2.00it/s]

request: Saintes Maries de la mer

 79%|███████▉  | 26/33 [00:12<00:03,  2.00it/s]

request: Collioure

 82%|████████▏ | 27/33 [00:13<00:03,  1.99it/s]

request: Carcassonne

 85%|████████▍ | 28/33 [00:13<00:02,  2.00it/s]

request: Toulouse

 88%|████████▊ | 29/33 [00:14<00:02,  2.00it/s]

request: Montauban

 91%|█████████ | 30/33 [00:14<00:01,  1.97it/s]

request: Biarritz

 94%|█████████▍| 31/33 [00:15<00:00,  2.01it/s]

request: Bayonne

 97%|█████████▋| 32/33 [00:15<00:00,  1.97it/s]

request: La Rochelle

100%|██████████| 33/33 [00:16<00:00,  2.04it/s]

In [12]:
dataset

   villes_id                        Villes    latitude   longitude
0          0             Mont Saint Michel  48.6355232  -1.5102571
1          1                       St Malo   48.649518  -2.0260409
2          2                        Bayeux  49.2764624  -0.7024738
3          3                      Le Havre  49.4938975   0.1079732
4          4                         Rouen  49.4404591   1.0939658
5          5                         Paris  48.8566969   2.3514616
6          6                        Amiens  49.8941708   2.2956951
7          7                         Lille  50.6365654   3.0635282
8          8                    Strasbourg   48.584614   7.7507127
9          9  Chateau du Haut Koenigsbourg  48.2495226   7.3454923
10        10                        Colmar  48.0777517   7.3579641
11        11                     Eguisheim  48.0447968   7.3079618
12        12                      Besancon  47.2380222   6.0243622
13        13                         Dijon  47.3215806   5.0414701
14        14                        Annecy  45.8992348   6.1288847
15        15                      Grenoble  45.1875602   5.7357819
16        16                          Lyon  45.7578137   4.8320114
17        17            Bormes les Mimosas  43.1506968   6.3419285
18        18                        Cassis  43.2140359   5.5396318
19        19                     Marseille  43.2961743   5.3699525
20        20               Aix en Provence  43.5298424   5.4474738
21        21                       Avignon  43.9492493   4.8059012
22        22                          Uzès  44.0121279   4.4196718
23        23                         Nímes  43.8374249   4.3600687
24        24                 Aigues Mortes  43.5658225   4.1912837
25        25      Saintes Maries de la mer  43.4522771   4.4287172
26        26                     Collioure    42.52505   3.0831554
27        27                   Carcassonne  43.2130358   2.3491069
28        28                      Toulouse  43.6044622   1.4442469
29        29                     Montauban  44.0175835   1.3549991
30        30                      Biarritz  43.4832523  -1.5592776
31        31                       Bayonne  43.4933379   -1.475099
32        32                   La Rochelle  46.1591126  -1.1520434

In [13]:
dataset['latitude'] = dataset['latitude'].astype(float)
dataset['longitude'] = dataset['longitude'].astype(float)

In [14]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 33 entries, 0 to 32
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   villes_id  33 non-null     object
 1   Villes     33 non-null     object
 2   latitude   33 non-null     float64
 3   longitude  33 non-null     float64
dtypes: float64(2), object(2)
memory usage: 2.5+ KB

<b>WEATHERS STUDY

In [15]:
from bs4 import BeautifulSoup
import re
import requests
import pandas as pd
import numpy as np
import json

In [16]:
#dataset_reset=dataset.set_index('villes_id')
#dataset_reset

In [17]:
for i in range(len(villes)):

    par = {
        "lat": dataset.loc[i, 'latitude'],
        "lon": dataset.loc[i, 'longitude'],
        "exclude": "minutely,hourly",
        "units": "metric",
       
           }
    
    k = requests.get('https://api.openweathermap.org/data/2.5/onecall?appid=7f5e20a21b2b827d838479b8506e7583',params=par)
    resultat = k.json()
    
    dataset.loc[i,'meteo_today'] = resultat['current']['weather'][0]['main']
    dataset.loc[i,'temp_today°C'] = resultat['current']['temp']
    
    temp_moy = 0
    for index in range(0,8):
        temp_jour = resultat['daily'][index]['temp']['day']
        temp_moy += temp_jour
   
    dataset.loc[i,'forecast_temp_moyenne°C'] = round(temp_moy/8)
        
    precipitation = 0
    for index in range(0,8):
        proba_precipi = resultat['daily'][index]['pop']
        precipitation += proba_precipi
   
    dataset.loc[i,'proba_precipitation_moyenne%'] = round(precipitation/8*100) 

    
    meteo_moyenne = pd.Series([meteo['weather'][0]['main'] for meteo in resultat['daily']])
    main_weather = meteo_moyenne.mode()[0]
    
    dataset.loc[i,'Meteo_probable'] = main_weather

In [18]:
dataset

,villes_id,Villes,latitude,longitude,meteo_today,temp_today°C,forecast_temp_moyenne°C,proba_precipitation_moyenne%,Meteo_probable
0,0,Mont Saint Michel,48.635523,-1.510257,Clear,13.46,16.0,64.0,Rain
1,1,St Malo,48.649518,-2.026041,Mist,13.24,15.0,72.0,Rain
2,2,Bayeux,49.276462,-0.702474,Clear,10.18,15.0,63.0,Rain
3,3,Le Havre,49.493898,0.107973,Clear,12.25,15.0,63.0,Rain
4,4,Rouen,49.440459,1.093966,Clear,10.01,15.0,66.0,Rain
5,5,Paris,48.856697,2.351462,Clear,10.51,16.0,47.0,Rain
6,6,Amiens,49.894171,2.295695,Clouds,8.37,15.0,59.0,Rain
7,7,Lille,50.636565,3.063528,Clear,9.65,14.0,60.0,Rain
8,8,Strasbourg,48.584614,7.750713,Clouds,6.55,13.0,49.0,Rain
9,9,Chateau du Haut Koenigsbourg,48.249523,7.345492,Clouds,4.66,11.0,47.0,Rain
10,10,Colmar,48.077752,7.357964,Clouds,7.85,14.0,46.0,Rain
11,11,Eguisheim,48.044797,7.307962,Clouds,7.84,14.0,46.0,Rain
12,12,Besancon,47.238022,6.024362,Clouds,7.66,14.0,45.0,Clouds
13,13,Dijon,47.321581,5.041470,Clouds,7.88,14.0,38.0,Clouds
14,14,Annecy,45.899235,6.128885,Clear,8.03,14.0,41.0,Rain
15,15,Grenoble,45.187560,5.735782,Clouds,11.35,17.0,35.0,Rain
16,16,Lyon,45.757814,4.832011,Clouds,9.75,15.0,34.0,Rain
17,17,Bormes les Mimosas,43.150697,6.341928,Clear,12.33,19.0,25.0,Clouds
18,18,Cassis,43.214036,5.539632,Clear,15.40,18.0,21.0,Clouds
19,19,Marseille,43.296174,5.369953,Clear,15.09,18.0,21.0,Clouds
20,20,Aix en Provence,43.529842,5.447474,Clear,12.93,18.0,26.0,Clouds
21,21,Avignon,43.949249,4.805901,Clear,11.17,17.0,25.0,Clear
22,22,Uzès,44.012128,4.419672,Clouds,10.96,17.0,25.0,Clouds
23,23,Nímes,43.837425,4.360069,Clear,11.96,18.0,22.0,Clouds
24,24,Aigues Mortes,43.565823,4.191284,Clouds,12.80,18.0,21.0,Clouds
25,25,Saintes Maries de la mer,43.452277,4.428717,Clouds,12.54,18.0,19.0,Clear
26,26,Collioure,42.525050,3.083155,Clouds,17.44,19.0,15.0,Clear
27,27,Carcassonne,43.213036,2.349107,Clear,12.83,17.0,26.0,Clouds
28,28,Toulouse,43.604462,1.444247,Clear,13.55,17.0,34.0,Clouds
29,29,Montauban,44.017584,1.354999,Clouds,13.70,17.0,39.0,Clouds
30,30,Biarritz,43.483252,-1.559278,Clouds,18.18,19.0,38.0,Clouds
31,31,Bayonne,43.493338,-1.475099,Clouds,17.88,19.0,37.0,Clouds
32,32,La Rochelle,46.159113,-1.152043,Clear,14.50,16.0,25.0,Clouds

In [19]:
meteo_cities = dataset.to_csv('info_meteo_villes.csv',index=False)

In [20]:
csv= dataset.to_csv()

In [21]:
pip install boto3

Requirement already satisfied: boto3 in /opt/conda/lib/python3.8/site-packages (1.18.63)
Requirement already satisfied: s3transfer<0.6.0,>=0.5.0 in /opt/conda/lib/python3.8/site-packages (from boto3) (0.5.0)
Requirement already satisfied: jmespath<1.0.0,>=0.7.1 in /opt/conda/lib/python3.8/site-packages (from boto3) (0.10.0)
Requirement already satisfied: botocore<1.22.0,>=1.21.63 in /opt/conda/lib/python3.8/site-packages (from boto3) (1.21.63)
Requirement already satisfied: urllib3<1.27,>=1.25.4 in /opt/conda/lib/python3.8/site-packages (from botocore<1.22.0,>=1.21.63->boto3) (1.25.10)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in /opt/conda/lib/python3.8/site-packages (from botocore<1.22.0,>=1.21.63->boto3) (2.8.1)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.8/site-packages (from python-dateutil<3.0.0,>=2.1->botocore<1.22.0,>=1.21.63->boto3) (1.15.0)
Note: you may need to restart the kernel to use updated packages.

In [22]:
import boto3

In [23]:
session = boto3.Session(aws_access_key_id="", aws_secret_access_key="")

In [24]:
s3 = session.resource("s3")

In [25]:
bucket_name = s3.create_bucket(Bucket="dataset-projet-kayak-villes-meteo")

In [26]:
bucket_name.put_object(Key='dataset-villes-meteo.csv', Body= csv)

s3.Object(bucket_name='dataset-projet-kayak-villes-meteo', key='dataset-villes-meteo.csv')